In [6]:
from faker import Faker
fake = Faker('en_IN')

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# CUSTOMER TABLE

In [8]:
cust_fields= ['customerid','name','address','city','state','pincode','update_timestamp']

In [9]:
states = {'Bihar':['Patna','Muzaffarpur','Gaya'],
          'Karnataka':['Belgaum','Bengaluru','Mangalore','Mysore'],
          'Maharashtra':['Mumbai','Nagpur','Navi Mumbai','Pune'],
          'Tamil Nadu':['Chennai','Coimbatore','Madurai'],
          'Uttar Pradesh':['Agra','Greater Noida','Kanpur','Lucknow','Mathura'],
          'Odisha':['Bhubaneswar','Cuttack','Rourkela']}

In [10]:
customer = pd.DataFrame(columns=cust_fields,index=range(1,1001))
Faker.seed(10)
for i in range(1,1001):
    customer['customerid'][i]=i
    customer['name'][i]=fake.name()
    customer['address'][i]=fake.street_address()    
    customer['state'][i]=fake.random_element(states.keys())
    customer['city'][i]=fake.random_element(states[customer['state'][i]])
    customer['pincode'][i]=fake.postcode()
    customer['update_timestamp'][i]=fake.date_time_this_year()

In [11]:
customer = customer.reset_index(drop=True)

In [12]:
customer.tail()

,customerid,name,address,city,state,pincode,update_timestamp
995,996,Advik Bajaj,15\nBaria Zila,Lucknow,Uttar Pradesh,735279,2022-03-06 19:31:05
996,997,Azad Sabharwal,"38/73, Cheema Road",Greater Noida,Uttar Pradesh,086670,2022-05-09 18:03:24
997,998,Jayesh Lal,61\nKala Circle,Mysore,Karnataka,116393,2022-07-05 06:22:37
998,999,Taran Doctor,"H.No. 698, Comar Road",Madurai,Tamil Nadu,430345,2022-11-16 01:21:22
999,1000,Charvi Sule,47\nKuruvilla Ganj,Muzaffarpur,Bihar,380056,2022-05-11 19:46:33

In [13]:
customer.dtypes

customerid          object
name                object
address             object
city                object
state               object
pincode             object
update_timestamp    object
dtype: object

# PRODUCT TABLE

In [14]:
product_master_fields = ['productid','productcode','productname','sku','rate','isactive']

In [15]:
product_initials = ['Patanjali','Himalaya','Dabur','Ashirvaad','Lotus','APD','Glorious','HUL','Living']
product_types = ['ata','seeds','Mix Fruits','rice','sweets','bags']

In [16]:
productname = ((a,b) for a in product_initials for b in product_types)
productlist=[]
for a,b in productname:
    productlist.append(a+ ' '+b)
print(productlist)

['Patanjali ata', 'Patanjali seeds', 'Patanjali Mix Fruits', 'Patanjali rice', 'Patanjali sweets', 'Patanjali bags', 'Himalaya ata', 'Himalaya seeds', 'Himalaya Mix Fruits', 'Himalaya rice', 'Himalaya sweets', 'Himalaya bags', 'Dabur ata', 'Dabur seeds', 'Dabur Mix Fruits', 'Dabur rice', 'Dabur sweets', 'Dabur bags', 'Ashirvaad ata', 'Ashirvaad seeds', 'Ashirvaad Mix Fruits', 'Ashirvaad rice', 'Ashirvaad sweets', 'Ashirvaad bags', 'Lotus ata', 'Lotus seeds', 'Lotus Mix Fruits', 'Lotus rice', 'Lotus sweets', 'Lotus bags', 'APD ata', 'APD seeds', 'APD Mix Fruits', 'APD rice', 'APD sweets', 'APD bags', 'Glorious ata', 'Glorious seeds', 'Glorious Mix Fruits', 'Glorious rice', 'Glorious sweets', 'Glorious bags', 'HUL ata', 'HUL seeds', 'HUL Mix Fruits', 'HUL rice', 'HUL sweets', 'HUL bags', 'Living ata', 'Living seeds', 'Living Mix Fruits', 'Living rice', 'Living sweets', 'Living bags']

In [17]:
import math

In [18]:
product_master = pd.DataFrame(columns=product_master_fields,index=range(1,101))
Faker.seed(15)
for j in range(1,101):      
    product_master['productid'][j]=j
    product_master['productname'][j]= productlist[int(j+1)//2]
    if(j%2):
        product_master['productcode'][j]=fake.bothify('?##', letters='ABCDE')
        product_master['sku'][j] = str(fake.random_int(min=1, max=5)) + fake.bothify('?', letters=['KG'])
        product_master['rate'][j]=round(np.random.normal(1000,200))
    else:
        product_master['productcode'][j]=fake.bothify('?##', letters='FGHIJ')
        product_master['sku'][j] = str(fake.random_int(min=6, max=10)) + fake.bothify('?', letters=['KG'])
        product_master['rate'][j]=round(np.random.normal(1000,200))+round(np.random.normal(800,200))
        
    product_master['isactive'][j]=fake.boolean(chance_of_getting_true=80)

In [19]:
product_master.head(100)

    productid productcode           productname  sku  rate isactive
1           1         E30       Patanjali seeds  1KG  1313     True
2           2         G00       Patanjali seeds  8KG  1928     True
3           3         C57  Patanjali Mix Fruits  3KG   792     True
4           4         G53  Patanjali Mix Fruits  8KG  1829     True
5           5         D48        Patanjali rice  2KG   792     True
..        ...         ...                   ...  ...   ...      ...
96         96         H36            Living ata  8KG  2323     True
97         97         C31          Living seeds  1KG  1165     True
98         98         F34          Living seeds  6KG  1705    False
99         99         A22     Living Mix Fruits  5KG  1050    False
100       100         F35     Living Mix Fruits  8KG  2692     True

[100 rows x 6 columns]

# ORDER DETAILS

In [20]:
order_detail_fields = ['orderid','customerid','order_status_update_timestamp','order_status']

In [21]:
orders_Received = pd.DataFrame(columns=order_detail_fields, index = range(1,20001))
orders_InProgress = pd.DataFrame(columns=order_detail_fields, index = range(1,20001))
orders_Delivered = pd.DataFrame(columns=order_detail_fields, index = range(1,20001))

In [22]:
for i in range(1,20001):
    orders_Received['orderid'][i]=i
    orders_Received['customerid'][i]=fake.random_element(customer['customerid'])
    orders_Received['order_status_update_timestamp'][i]=fake.date_time_this_year()
    orders_Received['order_status']='Received'
    
for i in range(1,20001):
    orders_InProgress['orderid'][i]=i
    orders_InProgress['customerid'][i]=orders_Received['customerid'][i]
    orders_InProgress['order_status_update_timestamp'][i]=orders_Received['order_status_update_timestamp'][i]+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_InProgress['order_status'][i]='InProgress'
    
for i in range(1,20001):
    orders_Delivered['orderid'][i]=i
    orders_Delivered['customerid'][i]=orders_Received['customerid'][i]
    orders_Delivered['order_status_update_timestamp'][i]=orders_InProgress['order_status_update_timestamp'][i]+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_Delivered['order_status'][i]='Delivered'

In [23]:
order_details = pd.concat([orders_Received,orders_InProgress,orders_Delivered])

In [24]:
order_details.sort_values(by=["orderid"])

      orderid customerid order_status_update_timestamp order_status
1           1         50           2022-11-19 16:48:54     Received
1           1         50           2022-11-19 18:14:02   InProgress
1           1         50           2022-11-20 13:29:19    Delivered
2           2        990           2022-03-30 02:00:36     Received
2           2        990           2022-03-30 15:18:23   InProgress
...       ...        ...                           ...          ...
19999   19999        545           2022-01-18 19:06:47     Received
19999   19999        545           2022-01-19 06:34:29   InProgress
20000   20000        913           2022-07-03 01:27:37   InProgress
20000   20000        913           2022-07-03 00:46:00     Received
20000   20000        913           2022-07-03 02:59:34    Delivered

[60000 rows x 4 columns]

In [25]:
len(order_details['orderid'].unique())

20000

# ORDER ITEMS

In [26]:
order_item_fields = ['orderid','productid','quantity']

In [27]:
order_items = pd.DataFrame(columns=order_item_fields, index = range(0,50000))

In [28]:
order_id =[]
productid = []
qnty = []

order_items = pd.DataFrame(columns = ['orderid','productid','quantity'])

for i in range(1,20001):
    x = list(range(1, 51))     
    for j in range(0,random.randint(1,5)):
        pri = random.choice(x)
        order_id.append(i)
        productid.append(pri)
        x.remove(pri)
        qnty.append(random.randint(1,5))

order_items = pd.DataFrame(list(zip(order_id,productid,qnty)),columns=['orderid','productid','quantity'])

In [29]:
order_items.sort_values(by=['orderid'])

       orderid  productid  quantity
0            1         22         5
1            1         37         5
2            2         41         4
3            2          9         1
4            2         23         5
...        ...        ...       ...
59776    19999         11         2
59780    20000         32         3
59781    20000         42         3
59779    20000         29         2
59782    20000         43         5

[59783 rows x 3 columns]

In [30]:
len(order_items['orderid'].unique())

20000

# LOAD DATA

In [45]:
import pymysql

# Connect to the database
connection = pymysql.connect(host='34.75.252.143',
                         user='root',
                         password='Suman#007',
                         db='sales')

# create cursor
cursor=connection.cursor()

In [47]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://root:Suman#007@34.75.252.143/sales")

In [48]:
customer.to_sql('customer_master', con = engine, if_exists = 'append',index=False)

1000

In [49]:
product_master.to_sql('product_master', con = engine, if_exists = 'append',index=False)

100

In [50]:
order_details.to_sql('order_details', con = engine, if_exists = 'append',index=False)

60000

In [51]:
order_items.to_sql('order_items', con = engine, if_exists = 'append',index=False)

59783